:root {
  --primary: #2979ff;
  --dark-primary: #2962ff;
  --light-primary: #448aff;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--light-primary);
}

ul, li {
  list-style: none;
}

main {
  position: relative;
  display: block;
  margin-top: 68px;
  padding-top: 20px;
  width: 100%;
  background-color: var(--light-primary);
}

@media screen and (max-width: 768px) {
  main {
    margin-top: 155px;
  }
}